.cart-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  
  .cart-item-details {
    font-size: 14px;
  }